@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Quicksand:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
}
body{
    background-image: url(assets/indicando\ no\ mapa.jpg);
    background-size: cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
}
body::before{
    content: "";
    background-image: linear-gradient(to bottom,#ff5a0151, rgba(213, 126, 92, 0.503));/*Não estou conseguindo colocar gradiente como na imagem do figma*/
    position:absolute;
    filter: contrast(140%) brightness(105%);
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
.logo{
    width: 150px;
    display: flex;
    position: relative;
    left: 70%;
    
}
header, nav{
    background-color:transparent;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding: 20px 20px;
    font-family: "poppins";
    font-weight: 100;
    
}
nav a{
    position: relative;
    display: inline;
    color: white;
    text-decoration: none;
    margin:25px;
    left: -10%;
    font-size: 17px;
    
}
.cabecalho a:hover{
    text-decoration:underline #ff5a01;

}
nav .login{
    left: 1%;
    font-size:17px;
    font-weight: 400;
    border: transparent;
    padding: 8px 24px;
    color: white;
    background-color: transparent;
    transition: background-color 0.8s;
    border-radius: 20px;
}

.login:hover{
    border: 1px solid #0097B2;
    background-color: #0097B2;
    border-radius: 20px;
    }

.material-symbols-outlined{
    display:flex;
    background: transparent;
    color:#ff5a01;
    font-size:50px; 
    text-decoration: none;
    left:-35%;
    margin-top:-14%;
}
.material-symbols-outlined:hover{
    text-decoration: none;
    color:black;
}
main{
    display: flex;
    color: white;
    justify-content:;
    transform: translate(8%,40%);    
}

section h1{
    font-size:100px;
    font-family:"poppins", sans-serif;
    font-weight:900;
    line-height: 1em;    
    
}
section h2{
    font-size:100px;
    font-family:"give you glory", sans-serif ;
    font-weight:200;
}

.content {
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 1px 0px 0px 1px #888;
    padding: 10px;
    z-index: 100;
    display: none;
    border-radius: 20px;
    border-width:1px
}

.close-btn {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 20px;
    top: 15px;
    background-color:#fff;
    color: #000;
    border-radius: 50%;
    padding: 4px;
}

.Dados{
border-style: solid;
border-radius: 23px;
padding-left: 5px;
padding-right: 5px;
padding: 7.5px;
border: 1px #000;
box-shadow: 1px 0px 0px 1px #888;
font-size:15px;
font-family: 'Montserrat', sans-serif;
width: 95%;

}

.titulo-login {
font-size:40px;
font-family: 'Quicksand', sans-serif;
color: #000;

}

.botao {
width: 120px;
height: 30px;
background-color: rgb(24, 160, 251);
border-style: solid;
border-radius: 10px;
border-color:  rgb(24, 160, 251);
font-size:15px;
font-weight: bold;
font-family: 'Montserrat', sans-serif;
color:#fff
}

.texto-box{
font-size:15px;
font-weight: bold;
font-family: 'Montserrat', sans-serif;
color: #000;
}


