@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Quicksand:wght@500&display=swap");
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: Quick sand;
}
body{
background-image: url(assets/pin\ mapa.jpg);
background-size: cover;
width:100vw;
height:100vh;
overflow:hidden;
}

body::before{
    content: "";
    background-color:#ff5a01e2;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container{
    position:absolute;
    top: 21%;
    left: 11%;
    width: 92vh;
    height: 30vh;
    transform:scale(1.2) ;
}

#text-logo{
    position: relative;
    color: white;
    margin-right: 15%;
    left: 12%;
    font-size: 15px;
}

:root {
    --primary: #ff5a01 ;
    --primary-hover: #f8a274;                
    --secondary: black;
    --secondary-hover: #8f8e8e;
    --aura: #0097b2;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 36px;
    background: linear-gradient(to right, #ff5a01,#ffac0d);
    -webkit-background-clip: text; 
    color: transparent; 
    left: 70%; 
}
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 23vw;
    background-color: white;
    position:absolute;
    border-radius: 20px;
    top: 50%;
    left:75%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 400px;
    box-shadow: 0 0 5px 1px #ffac0d;   
}
.text-field input {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    max-width: 150%;
    width: 140%;
    border: 1px transparent;
    height: 40px;
    transform: translate(-14%,-14%);
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 60px;
    text-indent: 20px;
    margin-top: 20px;
    box-shadow: 0 0 5px 1px #888888;
    
}
.button-radio{
    color: rgb(102, 101, 101);
    font-size:90%;
    display: block;
    position: relative;
    cursor: pointer;
    transform: translate(-15%,-25%);

}
#radio1:hover{
    cursor:pointer;
}

.my-form__button:hover {
    background-color:#ff5a01;
    border-color:#ff5a01;
    color: white;
    cursor: pointer;
}
.my-form__button {
    position: relative;
    border-radius: 5px;
    max-height: 100%;
    width: 45%;
    height: 90%;
    font-size:18px;
    background-color: rgb(24, 160, 251);
    border-color:  rgb(24, 160, 251) ;
    transform:translate(60%,10%);
    color: white;
   
}
.text-field {
    position: relative;
}

.text-field input::-webkit-input-placeholder { /* Edge */
    color: var(--secondary-hover);
}

.text-field img {
    position: absolute;
    right: -30px;
    bottom: -4px;
    width: 15px;
    height: 15px;
    transform: translate(-60%,-60%);
    transform-origin: center;
    top: 60%;
}

.text-field input:focus {
    border: 1px solid var(--primary);
}

.text-field label {
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

.input-icon {
    position: absolute;
    bottom: 0;
    top: 55%;
    right: 8px;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 16px;
    margin-top: 8px;
    
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 550;
    text-decoration:none;
}

.my-form__actions a:hover {
    color: #ff5a01;               
}

.my-form__row {
    display: inline;
    text-align:center;
}

.my-form__signup {
    display:block;
    transform: translate(80%,5%);
    font-size: small;
    
}

.my-form__signup a {
    display:block;
    position: relative;
    color: rgb(41, 40, 40);
    font-weight: 800;
    text-decoration: none;
    font-size: 15px;
    top:60%
}

.my-form__signup a:hover {
    color:#ff5a01;
}
